PORT=5000
MONGO_URI=mongodb+srv://tishakedar04_db_user:3d83sKnhMd2Bm8J9@clusterresume.rg8nk1i.mongodb.net/?appName=ClusterResume
JWT_SECRET=GAHM9pa4zdypamJ5hqzmG7PqKEcIIATQ
CORS_ORIGIN=http://localhost:5173
